[submodule "src/detector/manalyze/Manalyze"]
	path = src/detector/manalyze/Manalyze
	url = https://github.com/JusticeRage/Manalyze.git
[submodule "src/machine_learning/introduction_to_ml_with_python"]
	path = src/machine_learning/introduction_to_ml_with_python
	url = https://github.com/amueller/introduction_to_ml_with_python
[submodule "src/detector/bin/Manalyze"]
	path = src/detector/bin/Manalyze
	url = https://github.com/JusticeRage/Manalyze.git
[submodule "src/detector/bin/peframe"]
	path = src/detector/bin/peframe
	url = https://github.com/guelfoweb/peframe.git
