[submodule "src/Manalyze"]
	path = src/manalyze/Manalyze
	url = https://github.com/JusticeRage/Manalyze.git
[submodule "src/manalyze/Manalyze"]
	path = src/manalyze/Manalyze
	url = https://github.com/JusticeRage/Manalyze.git
