{% extends "header.html" %}

{% block content %}
<div class="container">

  <h1>Packers</h1>
  <!-- packers -->
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Packers</th>
        <th scope="col">edit</th>
      </tr>
    </thead>
    <tbody>
      {% for packer in packers %}
      <tr>
        <td class="col-md-6>">{{packer.0}}</td>
        <td class="cold-md-6">
            <form method="post">
                <input type="hidden" name="old" id="old" value={{packer.0}}></input>
                <input type="text" name="new"></input>
                <input type="submit" value="Save">
            </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
