<!DOCTYPE html>
<html>
<head>
    <title>Master's thesis</title>
    <meta charset="utf8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Master's thesis</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <h1> Detectors that we use </h1>
  <!-- packers -->
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name of the detecor</th>
        <th scope="col">Number of scanned files</th>
      </tr>
    </thead>
    <tbody>
      {% for detector in detectors %}
      <tr>
        <td>{{detector.0}}</td>
        <td>{{detector.1}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>
